# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Computer Science\He thong goi y\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
